# Dependencies
node_modules
.pnpm-store

# Next.js Build Outputs
.next/
out/
build/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/
*.log

# Environment Variables & Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE & OS Files
.DS_Store
*.pem
.vscode/
.idea/

# Database & Docker Persistent Volumes
postgres_data/
redis_data/
prisma/migrations/dev.db
